.authContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 24rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  background-color: #fff;
  z-index: 100;
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
  color: gray;
  letter-spacing: 1px;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputField {
  margin-top: 1rem;
  width: 100%;
  max-width: 200px;
  padding: 1.4rem 2.5rem;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  box-shadow: 2px 6px 7px lightsalmon;
  color: gray;
  letter-spacing: 1px;
}

.inputField:focus {
  outline: none;
  box-shadow: 2px 6px 7px lightblue;
}

.formBtn {
  margin-top: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  letter-spacing: 2px;
  background-color: rgb(140, 140, 227);
  border: 1px solid #fff;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.formBtn:active {
  transform: translateY(2px);
}

.linkLabel {
  font-weight: 700;
  letter-spacing: 1.5px;
}