.modalPopup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 24rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  z-index: 100;
}